<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1 style="text-align: center;">a ka daj?</h1>
    </ion-title>
    <ion-content>
      <h1 style="text-align: center;">a ka daj?</h1>

      <!-- <img #mapImage src="assets/kosovo_base_map.png" alt="Map" >
      <canvas #canvas width="800" height="900"></canvas> -->
    </ion-content>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <app-geolocation-component></app-geolocation-component>
  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>